apiVersion: v1
kind: Service
metadata:
  name: api-gateway-svc
  namespace: sre-lab
spec:
  selector:
    app: api-gateway
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 8000   
      nodePort: 30007  
  type: NodePort
