apiVersion: v1
kind: Service
metadata:
  name: api-gateway-svc
  namespace: sre-lab
spec:
  selector:
    app: api-gateway
  ports:
    - protocol: TCP
      port: 3000       # Internal port
      targetPort: 3000   # Container port
      nodePort: 30007  # Fixed external port. Must be in 30000-32767 range
  type: NodePort # This exposes the service outside the Minikube VM