apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-service-deploy
  namespace: sre-lab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventory-service
  template:
    metadata:
      labels:
        app: inventory-service
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "3002"
        prometheus.io/path: "/metrics"
    spec:
      containers:
        - name: inventory-service
          image: zakaryab2003/fsdevopsinventory:72
          ports:
            - containerPort: 3002
          env:
            - name: OTEL_SERVICE_NAME
              value: "inventory-service"
            - name: OTEL_EXPORTER_JAEGER_ENDPOINT
              value: "http://jaeger-all-in-one.tracing.svc.cluster.local:14268/api/traces"
          livenessProbe:
            httpGet:
              path: /healthz
              port: 3002
            initialDelaySeconds: 10
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /healthz
              port: 3002
            initialDelaySeconds: 5
            periodSeconds: 3
          resources:
            requests:
              memory: "128Mi"
              cpu: "250m"
            limits:
              memory: "256Mi"
              cpu: "500m"