apiVersion: v1
kind: Service
metadata:
  name: inventory-service-svc
  namespace: sre-lab
spec:
  selector:
    app: inventory-service
  ports:
    - protocol: TCP
      port: 3002
      targetPort: 3002
  type: ClusterIP