apiVersion: v1
kind: Service
metadata:
  name: order-service-svc
  namespace: sre-lab
spec:
  selector:
    app: order-service
  ports:
    - protocol: TCP
      port: 3001
      targetPort: 3001
  type: ClusterIP