apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service-deploy
  namespace: sre-lab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "3001"
        prometheus.io/path: "/metrics"
    spec:
      containers:
        - name: order-service
          image: zakaryab2003/fsdevopsorder:latest
          ports:
            - containerPort: 3001
          env:
            # This is how we tell the Order service how to find the Inventory service
            - name: INVENTORY_SERVICE_URL
              value: "http://inventory-service-svc.sre-lab:3002"
            - name: OTEL_SERVICE_NAME
              value: "order-service"
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "http://jaeger-collector.tracing.svc.cluster.local:4318/v1/traces"
          livenessProbe:
            httpGet:
              path: /healthz
              port: 3001
            initialDelaySeconds: 10
            periodSeconds: 5
          readinessProbe:
            httpGet:
              path: /healthz
              port: 3001
            initialDelaySeconds: 5
            periodSeconds: 3
          resources:
            requests:
              memory: "128Mi"
              cpu: "250m"
            limits:
              memory: "256Mi"
              cpu: "500m"