apiVersion: v1
kind: Service
metadata:
  name: user-service-svc
  namespace: sre-lab
spec:
  selector:
    app: user-service
  ports:
    - protocol: TCP
      port: 3003       # Port the Service is available on
      targetPort: 3003   # Port the container is listening on
  type: ClusterIP # Only reachable inside the cluster